@charset "UTF-8";

/* Tooltips https://codepen.io/marcwiethe/pen/JprZvJ */
abbr[data-title] {
  position: relative;
  text-decoration: underline dotted;
}
abbr[data-title]:hover::after,
abbr[data-title]:focus::after {
  content: attr(data-title);
  position: absolute;
  left: 50%;
  top: -30px;
  transform: translateX(-50%);
  width: auto;
  white-space: nowrap;
  background: #f8f690;
  color: #000000;
  border-radius: 2px;
  box-shadow: 1px 1px 5px 0 rgba(0,0,0,0.4);
  font-size: 14px;
  padding: 3px 5px;
  z-index: 4000;
}

/* Datatable log-table */
.toggle-hide {
  color: #A0A7C5;
}
#dataTable tr {
  cursor: pointer;
}
#dataTable tr:hover {
  background-color: rgba(233, 233, 233, 0.567);
}

/* one */
table.one {
  width: 100%;
  border:none;
  padding: 50px;
}
table.one td {
  padding: 5px;
}
table.one td.key {
  font-weight: bold;
}

/* Loader : */

#loadData_background {
  /* https://css-tricks.com/css-page-loader/ */
  position: absolute;
  top: 0;
  bottom: 0%;
  left: 0;
  right: 0%;
  /* https://www.primfx.com/creer-flou-arriere-plan-css/ */
  -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
  backdrop-filter: blur(15px) grayscale(2) opacity(0.9);
  z-index: 89;
}

#loadData_messages {
  /* https://css-tricks.com/css-page-loader/ */
  position: absolute;
  left: 50%;
  margin-left: -50px;
  top: 30%;
  margin-top: -50px;
  z-index: 99;
}

#loadData_messages .loading-gif,
#loadData_messages .message,
#loadData_messages .error {
  text-align: center;
}

#languages [name=flag]:hover {
  cursor: pointer;
}

.smallerTr{
  padding : 0.3rem 0.3rem;
}
