
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center mt-4">
                    <h1 class="display-1">401</h1>
                    <p class="lead" data-i18n-key="unauthorized">Unauthorized</p>
                    <p data-i18n-key="accessDenied">Access to this resource is denied.</p>
                </div>
            </div>
        </div>
    </div>
