
<div class="container-fluid px-4">
    <h1 class="mt-4" data-i18n-key="blacklist">Blacklist</h1>
    <h2 class="visibleByRole mt-4" data-visibility="admin" id="smtpauth" data-i18n-key="hardBounces">Hard Bounces</h2>
    <div class="card mb-4 px-3 pt-2">
        <p data-i18n-key="bounceDisclaimer1">Bounces are to email what RTS ( Return To Sender ) are to postal services: These are possible errors or delivery failures encountered by our services during the SMTP request (non-existent domain, non-existent address, errors, etc.)</p>
        <p data-i18n-key="bounceDisclaimer2">In order to preserve the reputation of your account, we systematically add these addresses in permanent error (hard-bounces) to your account. You can also manually add addresses.</p>
    </div>
    <div id="errorMessage" class="text-danger"></div>
    <div id="loading-spinner" style="display: none;" data-i18n-key="">
        Loading...
    </div>
    <div id="alert" role="alert"></div>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-address-card me-1"></i>
            <span data-i18n-key="blackLists">List of black/grey/white -listing applied to emails</span>
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center" data-i18n-key="type">Type</th>
                        <th class="text-center" data-i18n-key="email">Email</th>
                        <th class="text-center" data-i18n-key="rule">Rule</th>
                        <th class="text-center" data-i18n-key="status">Status</th>
                        <th class="text-center" data-i18n-key="counter">Compteur</th>
                        <th class="text-center" data-i18n-key="date">Date</th>
                        <th class="text-center" data-i18n-key="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="BlacklistForm" class="visibleByRole" data-visibility="admin">
                        <td class="form-group">
                        <select type="select" class="d-none d-sm-inline-block btn btn-sm shadow-sm" name="type">
                            <!-- Lorsqu'on voudra le type from
                            <option value="" data-i18n-key="type">-type-</option>
                            <option value="1" data-i18n-key="">from</option>
                            PS je n'ai pas traduis from & to car ce sont les clés de la norme smtp. Mais l'attribut existe.
                            -->
                            <option value="2" data-i18n-key="">to</option>
                        </select>
                        </td>
                        <td class="form-group text-center">
                            <input type="text" class="form-control" id="email" name="email"
                                aria-describedby="emailHelp" placeholder="" data-i18n-key="emailHelp">
                        </td>
                        <td class="form-group text-center">
                            <span class="form-control text-secondary" data-i18n-key="forced"><i>ForcedByAdmin</i></span>
                        </td>
                        <td class="form-group text-center">
                            <span class="form-control text-secondary" data-i18n-key="blacklist"><i>Blacklist</i></span>
                        </td>
                        <td class="form-group text-center">
                            <span class="form-control text-secondary" data-i18n-key="already">None. Applies already</span>
                        </td>
                        <td class="form-group text-center">
                            <span class="form-control text-secondary" id="todaydate"></span>
                        </td>
                        <td class="text-center">
                            <button type="submit" id="add" class="mb-2 btn btn-secondary"><i class="fas fa-ban me-1"></i><span data-i18n-key="doBlacklist">Blacklist Email</span></button>
                        </td>
                    </tr>
                </tbody>
                <tbody id="Blacklist">
                    <!-- This will be automatically filled -->
                </tbody>
            </table>
        </div>
    </div>
</div>
