
<div class="container-fluid px-4">
    <h1 class="mt-4" data-i18n-key="dashboard">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active" data-i18n-key="dashboard">Dashboard</li>
        <li class="breadcrumb-item">
          <select id="days" class="d-none d-sm-inline-block btn btn-sm shadow-sm">
              <option value="7" selected="selected" data-i18n-key="days7">7 days</option>
              <option value="30" data-i18n-key="days30">30 days</option>
              <option value="182" data-i18n-key="days183">6 months</option>
              <option value="365" data-i18n-key="days365">1 year</option>
          </select>
        </li>
    </ol>

    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="total-stat card countTotal text-white mb-4">
                <div class="card-body">
                    <span data-i18n-key="treatedMails">Total e-mail processed </span><span id="countTotal"><i class="fas fa-spinner"></i></span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="total-stat card countInError text-white mb-4">
                <div class="card-body">
                    <span data-i18n-key="inFailMails">Email rejected on arrival: </span><span id="countInError"><i class="fas fa-spinner"></i></span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="total-stat card countOutError text-white mb-4">
                <div class="card-body">
                    <span data-i18n-key="outFailMails">Email rejected on exit: </span><span id="countOutError"><i class="fas fa-spinner"></i></span>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="total-stat card percentAllError text-white mb-4">
                <div class="card-body percentAllError">
                    <span data-i18n-key="totalFails">Total error percentage: </span><span id="percentAllError"><i class="fas fa-spinner"></i></span>
                </div>
            </div>
        </div>
    </div>



    <!-- Content Row -->
    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
              <div class="card-header" data-i18n-key="evolution">
                  <i class="fas fa-chart-area me-1"></i>
                  Evolution over period
              </div>
              <div class="card-body"><canvas id="logsGraphArea" width="100%" height="40"></canvas></div>
            </div>
        </div>

        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
              <div class="card-header" data-i18n-key="parts">
                <i class="fas fa-chart-pie me-1"></i>
                Part over period
            </div>
            <div class="card-body">
              <canvas id="PercentPieChart" width="100%" height="40"></canvas>
            </div>
          </div>
        </div>
    </div>


    <!-- Content Row -->
    <div class="row">

        <!-- Content Column -->
        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header" data-i18n-key="topDomainTo">
                  <i class="fas fa-trophy me-1"></i>
                  Top incoming domains
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="topOutDomain" class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th data-i18n-key="amount">Amount</th>
                                    <th data-i18n-key="domain">Domain</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-6 mb-4">

            <div class="card shadow mb-4">
                <div class="card-header" data-i18n-key="topDomainFail">
                  <i class="fas fa-circle-exclamation me-1"></i>
                  Top exit errors domains
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="topOutDomainError" class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th data-i18n-key="amount">Amount</th>
                                    <th data-i18n-key="domain">Domain</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
