<div class="container-fluid px-4">
  <h1 id="log-table-title" class="mt-4" data-i18n-key="logTable">Full log table</h1>
  <div class="card shadow mb-4">
    <div class="card-body">

        <form class="form-inline">
          <div class="input-group mb-3">
            <label class="sr-only" for="frmDate" data-i18n-key="frmDate">From Date</label>
            <input type="date" class="form-control" id="frmDate" value="" placeholder="From Date" data-i18n-key="frmDate">
            <label class="sr-only" for="toDate" data-i18n-key="toDate">To Date</label>
            <input type="date" class="form-control" id="toDate" value="" placeholder="To Date" data-i18n-key="toDate">
            <button type="button" class="btn btn-primary" id="SearchByDate" data-i18n-key="searchByDate">Filter by date</button>
          </div>
        </form>

    </div>
  </div>
  <!-- DataTales -->
  <div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                      <th><span data-i18n-key="id">Id</span></th>
                      <th><span data-i18n-key="server">Server</span></th>
                      <th><span data-i18n-key="inDate">Entry Date</span></th>
                      <th><span data-i18n-key="from">From</span></th>
                      <th><span data-i18n-key="to">To</span></th>
                      <th><span data-i18n-key="smtpd_client">Source Server</span></th>
                      <th><span data-i18n-key="smtpd_username">User</span></th>
                      <th><span data-i18n-key="smtpd_codeError">Entry Error Code</span></th>
                      <th><span data-i18n-key="smtpd_msg">Entry Message</span></th>
                      <th><span data-i18n-key="cleanup">Cleanup</span></th>
                      <th><span data-i18n-key="qmgr_size">Mail weight</span></th>
                      <th><span data-i18n-key="qmgr_nrcpt">Recipients amount</span></th>
                      <th><span data-i18n-key="qmgr_msg">Queue message</span></th>
                      <th><span data-i18n-key="msg">Message</span></th>
                      <th><span data-i18n-key="smtp_date">Exit Date</span></th>
                      <th><span data-i18n-key="smtp_relay">Destination Relay</span></th>
                      <th><span data-i18n-key="smtp_status">Exit Status</span></th>
                      <th><span data-i18n-key="smtp_msg">Relay Message</span></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                      <th>queueId</th>
                      <th>server</th>
                      <th>smtpd_date</th>
                      <th>from</th>
                      <th>smtp_to</th>
                      <th>smtpd_client</th>
                      <th>smtpd_username</th>
                      <th>smtpd_codeError</th>
                      <th>smtpd_msg</th>
                      <th>cleanup</th>
                      <th>qmgr_size</th>
                      <th>qmgr_nrcpt</th>
                      <th>qmgr_msg</th>
                      <th>msg</th>
                      <th>smtp_date</th>
                      <th>smtp_relay</th>
                      <th>smtp_status</th>
                      <th>smtp_msg</th>
                    </tr>
                </tfoot>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
  </div>

  <div class="card shadow mb-4">
    <div class="card-body">
      <p class="mb-4"><span>Switch columns :</span>
        <a class="toggle-vis toggle-hide"   data-column="0"  data-i18n-key="id">Id</a>
        - <a class="toggle-vis toggle-hide" data-column="1"  data-i18n-key="server">Server</a>
        - <a class="toggle-vis"             data-column="2"  data-i18n-key="inDate">Entry Date</a>
        - <a class="toggle-vis"             data-column="3"  data-i18n-key="from">From</a>
        - <a class="toggle-vis"             data-column="4"  data-i18n-key="to">To</a>
        - <a class="toggle-vis toggle-hide" data-column="5"  data-i18n-key="smtpd_client">Source Server</a>
        - <a class="toggle-vis toggle-hide" data-column="6"  data-i18n-key="smtpd_username">User</a>
        - <a class="toggle-vis toggle-hide" data-column="7"  data-i18n-key="smtpd_codeError">Entry Error Code</a>
        - <a class="toggle-vis toggle-hide" data-column="8"  data-i18n-key="smtpd_msg">Entry Message</a>
        - <a class="toggle-vis toggle-hide" data-column="9"  data-i18n-key="cleanup">Cleanup</a>
        - <a class="toggle-vis toggle-hide" data-column="10" data-i18n-key="qmgr_size">qmgr_size</a>
        - <a class="toggle-vis toggle-hide" data-column="11" data-i18n-key="qmgr_nrcpt">qmgr_nrcpt</a>
        - <a class="toggle-vis toggle-hide" data-column="12" data-i18n-key="qmgr_msg">qmgr_msg</a>
        - <a class="toggle-vis toggle-hide" data-column="13" data-i18n-key="msg">msg</a>
        - <a class="toggle-vis toggle-hide" data-column="14" data-i18n-key="smtp_date">Exit Date</a>
        - <a class="toggle-vis toggle-hide" data-column="15" data-i18n-key="smtp_relay">Destination Relay</a>
        - <a class="toggle-vis toggle-hide" data-column="16" data-i18n-key="smtp_status">Exit Status</a>
        - <a class="toggle-vis toggle-hide" data-column="17" data-i18n-key="smtp_msg">Relay Message</a>
      </p>

    </div>
  </div>

</div>
