<div class="row mx-2">
  <div class="col-md-4 mt-4">
      <h1><i class='fa fa-envelope'></i> <span id="queueId"> X</span></h1>
  </div>
  <div class="col-md-8 mt-2 text-end align-bottom p-3">
      <span class="m-2 p-2"><u>...
          <span data-i18n-key="intended">is intended for</span>
          <span id="nrcpt">X</span>
          <span data-i18n-key="people">people</span> :</u>
      </span>
      <span class="m-2 p-2 rounded bg-success text-white" id="sent">
          <span name="value">X</span>
          <span data-i18n-key="sent">Sent</span> 
      </span>
      <span class="m-2 p-2 rounded bg-warning text-white" id="deferred">
          <span name="value">X</span>
          <span data-i18n-key="deferred">Deferred</span> 
      </span>
      <span class="m-2 p-2 rounded bg-danger text-white" id="blocked">
          <span name="value">X</span>
          <span data-i18n-key="blocked">Blocked</span> 
      </span>
      <h2 class="d-inline p-2">/</h2>
      <span class="m-2 p-2 rounded bg-dark text-white" id="total">
          <span name="value">X</span>
          <span data-i18n-key="total">Total</span> 
      </span>
  </div>
</div>
<div class="col-12 p-2">
    <h3 class="card-title mx-2"><i class="fas fa-arrow-circle-right me-1"></i><span data-i18n-key="sender">Sender</span> <span id="from-email">xxxxxxx-owner@xxxxxxxx</span></h3>
</div>

    <div class="card mx-4" id="origin"></div>
    <div class="mt-2" id="expedients"></div>
