<div id="errorMessage" class="text-danger"></div>
<div id="loading-spinner" style="display: none;" data-i18n-key="loading">
    Loading...
</div>
<div class="container-fluid px-4">
    <h1 class="mt-4" data-i18n-key="settings">Settings</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active"><a href="#change-password" data-i18n-key="changePassword">Change my password</a></li>
    </ol>
    <h2 class="mt-4" id="rapport" data-i18n-key="mailReports">E-mail reports</h2>
    <div class="card mb-4">
        <div class="card-header" data-i18n-key="reportFrequency">
            <i class="fas fa-envelopes-bulk"></i>
            Reports frequency
        </div>
        <div class="card-body">
            <form class="user" action="#" method="post" id="usersettingsForm">
                <div class="form-group">
                    <label for="rapport" data-i18n-key="reportBasis">Send me a report on a basis : </label>
                    <select name="rapport" class="form-control">
                        <option value="0" selected="" data-i18n-key="never">Never</option>
                        <option value="1" data-i18n-key="daily">Daily</option>
                        <option value="2" data-i18n-key="weekly">Weekly</option>
                        <option value="3" data-i18n-key="monthly">Monthly</option>
                    </select>
                </div>
                <div class="form-group mb-2">
                    <label for="rapport_verbose" data-i18n-key="reportVerbose">Send it when : </label>
                    <select name="rapport_verbose" class="form-control">
                        <option value="0" selected="" data-i18n-key="onError">Error occur</option>
                        <option value="1" data-i18n-key="always">Always</option>
                    </select>
                </div>
                <input type="submit" value="Apply" class="btn btn-primary btn-user btn-block">
            </form>
        </div>
    </div>
    <h2 class="visibleByRole mt-4" data-visibility="admin" id="smtpauth" data-i18n-key="smtpAuth">SMTP Authentification</h2>
    <div class="card mb-4 visibleByRole" data-visibility="admin">
        <div class="card-header" data-i18n-key="">
            <i class="fas fa-address-card me-1"></i>
            List of my credentials
        </div>
        <div class="card-body">
            <div id="smtp-errorMessage" class="text-danger"></div>
            <div id="smtp-loading-spinner" style="display: none;" data-i18n-key="loading">
                Loading...
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th data-i18n-key="username">Username</th>
                        <th data-i18n-key="passwordClick">Password (click to show)</th>
                        <th data-i18n-key="description">Description</th>
                        <th data-i18n-key="action">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="smtpauthForm">
                        <td class="form-group">
                            <input type="text" class="form-control" name="newusername"
                                aria-describedby="emailHelp" placeholder="example : newuser@retzo.net" data-i18n-key="emailHelp">
                        </td>
                        <td class="form-group">
                            <span class="form-control text-secondary"
                                aria-describedby="password" data-i18n-key="definedByServer"><i>Will be defined by server</i></span>
                        </td>
                        <td class="form-group">
                            <input type="text" class="form-control" name="newdescribe"
                                placeholder="example : my new account" data-i18n-key="accountHelp">
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary" data-i18n-key="add"><i class="fas fa-user-plus me-1"></i>Add</button>
                        </td>
                    </tr>
                </tbody>
                <tbody id="smtp-list">
                    <!-- This will be automatically filled -->
                </tbody>
            </table>
        </div>
    </div>
</div>
